# -*- coding: utf-8 -*-
# vim: ft=yaml
---
cobbler:
  # Set this version to the version you are going to manage. It is going to decide
  # which template is used for the settings files.
  version: 3.3.4
  pkg:
    communityrepo:
      # Enable the community maintained Cobbler repository. You may choose any valid
      # minor release that is packaged for your operating system.
      # See: https://build.opensuse.org/project/subprojects/home:cobbler-project
      enabled: false
      version: 3.3.x
    epel:
      # Install Cobbler on RHEL forks from EPEL. This is mutually exclusive with the
      # community repositories.
      enabled: false
    name: cobbler
  service:
    name: cobblerd
  config: /etc/cobbler/settings.yaml

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    # I.e.: salt://cobbler/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    source_files:
      cobbler-config-file-file-managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
      cobbler-modules-file-file-managed:
        - 'modules_alt.conf.jinja'
      cobbler-mongodb-file-file-managed:
        - 'mongodb_alt.conf.jinja'
